<!-- class="pos-f-t header"-->
<div class="fixed-top header">
  <!-- navbar-toggleable-md : to display the menu icon-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <i class="fa fa-institution d-inline-block align-top" style="font-size:1.7em; width: 36px; height: 36px; " alt=""></i>
      {{brand}}
    </a>
    <button class="navbar-toggler cursor-hand"
            data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon "></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <!--<li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>-->
        <li class="nav-item">
          <a class="nav-link" href="#">Ranking Geral</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Opção 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Opção 3</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

